@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* by doing thids at the startinggap will be removed   */
* {
    margin: 0;
    padding: 0;
}


.Sidebar {
    background-color: rgb(198, 241, 227);
    width: 434px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}

.Sidebar nav {
    padding: 5px;
}

.Sidebar nav li {
    list-style: none;
    font-size: 34px;
    padding: 33px;
    /* by doing this it will remove all the dota fronm the content */
}

.Sidebar nav li a {
    /* a is hypertext link so if a's text font =none it wil givew without lining the code */
    text-decoration: none;
    color: black;

}

.main {
    background-color:rgb(214, 194, 194);
    width: 90vw;
}

.contianer {
    display: flex;


}

.infocontainer {
    background-color: rgb(236, 222, 202);
    width: 152vh;
    height: 62vh;
    margin: auto;
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    /* using justify-content align will be in the centre if we use align-center it will be at the top */
    flex-direction: column;

}

.Hello {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    ;

}

.name {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.about {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;

}

.moreabout {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
    /* space between main content and the moreinfo */

}

.buttons {
    margin-top: 34px;

}

.buttons button {
    padding: 6px;
    border-radius: 10px;
    border-color: azure;
    background-color: rgb(228, 247, 201);
    font-style: bold;
    font-size: 21px;
    margin: 0;
    cursor: pointer;
    /* it means ki weneven our cursor is on th ebutton it will chnage in cursor */

}

.buttons button:hover {
    background-color: black;
    color: aquamarine;
    font-style: bold;
}


.devPic img {
    height: 62vh;
}

.contactform {
    font-family: 'Fira Sans', sans-serif;
    padding: 0 143px;
    /* bcoz of zero it gaves  a lot of padding`` */
    padding-top: 144px;


}

.contactform h1 {
    font-family: 'source code pro', monospace;
    padding: 12px 0;

}

.contactform form div {
    font-family: 'source code pro', monospace;
    font-weight: bold;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 350px; 
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 15px;
    color: midnightblue;
    margin: 0 5px;

}

#form-check {
    flex-direction: row;

}

#form-check input {
    width: 24px;
    margin: 3px 0;

}
.btn{
    padding: 6px;
    border-radius: 10px;
    border-color: azure;
    background-color: rgb(228, 247, 201);
    font-style: bold;
    font-size: 21px;
    margin: 0;
    cursor: pointer;
}
.btn:hover {
    background-color: black;
    color: aquamarine;
    font-style: bold;}
.intro h2{

    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin: 23px;
    font-size: 28px ;
    color: rgb(36, 173, 127);
}
.intro p{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 24px ;
    margin: 23px;
    color: rgb(43, 77, 10);
    }
    /* .skillcontainer{
        padding: 12px;

    }
    .skill{
        width:23px;
        height: 23px;
        background-color: burlywood;
    } */
    .servicecontainer{
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
        font-size: 24px ;
        margin: 23px;
        color: rgb(43, 77, 10);}